* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1,
h2 {
    color: #32435F;
}

h3 {
    color: #8F8681;
}

.side-menu ul li span{
    font-size: 0.9em;
}

.side-menu ul li a {
    display: flex;
    align-items: center;
}

.container .content .cards .card h1, .container .card-content .cards .card h1{
    text-align: center;
}

.btn {
    background: #A67F78;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover {
    color: #A67F78;
    background: white;
    padding: 3px 8px;
    border: 2px solid ;
}


.table-title, .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #E1DCD9;
    background: #8f8f8f;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: #A67F78;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li:hover {
    background: white;
    color: #A67F78;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

iframe{
    width: 100%;
    min-height: 90vh;
    border: none;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

.container .header .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header .nav .search button img {
    width: 30px;
    height: 30px;
}

.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav .user img {
    width: 40px;
    height: 40px;
}

.container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .card-content {
    position: relative;
    margin-top: 10vh;
    min-height: 200px;
    background: #f1f1f1;
}

.container .content .cards, .container .card-content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card, .container .card-content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}

.entity-container .table-content, .entity-container .add-content{
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

/* Styles boite a propos */

.about-box-container .about-box{
    background: #E1DCD9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 30px 30px 30px 0;
}

.about-box-container .about-box .about-box-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

/* .container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
} */

/* Styles des formulaires */

.entity-container .add-content form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entity-container .add-content form fieldset {
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 50%;
  }
  
  legend {
    font-weight: bold;
    color: #32435F;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group label {
    width: 100px; 
  }
  
  .form-group input {
    flex: 1; 
  }

  .form-button{
    margin-bottom: 1rem;
  }

@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #A67F78;
        padding: 8px 38px;
        border: 2px solid white;
    }
}

@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .table-view table th:nth-child(2),
    .container .content .content-2 .table-view table td:nth-child(2) {
        display: none;
    }
}